html, body {font-family: Arial, Helvetica, sans-serif; color: #472511; font-size: 1em; padding:0; margin:0;}
#promo { width: 32%; min-width: 440px;}
#promo p { margin: 0 0 0.8em 0; }
#promo, #main-search, #arenga, footer {text-align: center; margin:0 auto; }
#arenga { font-family: tpb; font-size:2em; width: 50%; min-width:600px; }
#main { width: 100%; max-width: 960px; margin:0 auto; }
#main-search { width: 36%; min-width: 460px; }
#main-search-field {width: 100%; }
#main-search input {font-size:1em; line-height: 1.6em; height: 2em;}

dl dt { float: left; display:block; width: 140px; font-weight: bold; }
dl dd { display:block; }

.torrent { 
  margin: 0; 
  padding: 10px 0 2px 0; 
  background-color: #F6F1EE;
  border-bottom: 1px solid white;
}

.torrent .title {
  font-size: 1.3em;
  display:block;
}

.small-font {
  font-size: 0.8em;
}

.torrent .magnet { display:block; }
.center { text-align: center; }

@font-face {
  font-family: 'tpb';
  src: url('fonts/tpb.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/tpb.ttf')  format('truetype'); /* Safari, Android, iOS */
}
