<!DOCTYPE HTML>
<html>
  <head>
    <title>The Pirate's Bey</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    {{> header}}

    <section id="main">
    {{{body}}}
    </section>
    <footer>The Pirate's Bey | <a href="/about.html">{{{__ "main.about"}}}</a></foorter>
  </body>
</html>
