<!DOCTYPE HTML>
<html>
<head>
<title>The Pirate's Bey</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style>
html, body {font-family: Arial, Helvetica, sans-serif; font-size: 1em; padding:0; margin:0;}
#promo { width: 32%; min-width: 440px; }
#promo p { margin: 0 0 0.8em 0; }
#promo, #main-search, footer {text-align: center; margin:0 auto; }
#main-search { width: 36%; min-width: 460px; }
#main-search-field {width: 100%; }
#main-search input {font-size:1em; line-height: 1.6em; height: 2em;}
</style>
</head>
<body>
<div id="promo">
<img src="img/thepiratesbey.png" alt="The Pirate's Bey" />
<p>Ellos nos vilifican, esos infames, cuando sólo existe 
esta diferencia, ellos roban a los pobres bajo la cobertura 
de la ley, ciertamente, y nosotros saqueamos a los ricos 
bajo la protección de nuestro propio valor.</p>
<p>¿No has de preferir convertirte en uno de nosotros, antes 
que pordiosear tras estos villanos por prebendas?</p>
</div>
<div id="main-search">
	<form action="" method="" id="search">
		<input id="main-search-field" type="text" name="q" placeHolder="Pirate Search" />
		<p><input type="submit" accesskey="s" value="Pirate Search" title="Pirate Search"></input>
		<input type="submit" value="I'm Feeling Lucky" name="lucky" title="I'm Feeling Lucky"></input></p>
	</form>
</div>
<footer>
</foorter>
</body>
</html>
