<div id="promo">
<img src="img/thepiratesbey.png" alt="The Pirate's Bey" />
</div>
<div id="main-search">
	<form action="/search" method="get" id="search">
		<input id="main-search-field"
      type="text"
      name="q"
      placeHolder="{{{__ "index.search"}}}" />
		<p>
      <input type="submit"
        accesskey="s"
        value="{{{__ "index.search"}}}"
        title="{{{__ "index.search"}}}"></input>
		  <input type="submit"
        value="{{{__ "index.luckySearch"}}}"
        name="lucky"
        title="{{{__ "index.luckySearch"}}}"></input>
    </p>
	</form>
</div>
<div id="arenga">
  {{{__ "index.arenga"}}}
</div>
