<article class="torrent">
  <h1 class="title">{{torrent.title}}</h1>
  <dl>
    <dt>{{{__ "torrent.uploaded"}}}</dt>
    <dd>{{formatDate torrent.uploaded}}</dd>
    <dt>{{{__ "torrent.size"}}}</dt>
    <dd>{{size torrent.size}}</dd>
    <dt>{{{__ "torrent.source"}}}</dt>
    <dd>{{torrent.source}}</dd>
    <dt>{{{__ "torrent.infohash"}}}</dt>
    <dd>{{torrent.hash}}</dd>
  </dl>
  <p>
    <a href="{{{magnet torrent.hash}}}">
      <img src="img/big-download.png" alt="{{{__ 'main.download'}}}">
    </a>
    <br />
    {{> howtodownload}}
  </p>
  <p><pre>{{{torrent.nfo}}}</pre></p>
</article>
